  html, body {
  font-family: sans-serif;
/*  font-family: parisplus-clair, sans-serif;*/
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 100%;
}

/*--------------------------------------------------------------------------------------------------------------------*/
                                                /* Common Sections */

* { /* Makes sure all elements have box-sizing*/
    box-sizing: border-box; /* includes the padding and border in an elements total width and height */
}

.container {
  position: relative;
}

.content { 
  padding-top: 50px;
  display: absolute;
}

div {
  width: 100%;
}

p {
  display: relative;
  font-size: 1.0rem;
  color: #606060;

  font-family: parisplus-clair;
  font-style: normal;
  font-weight: lighter;
  letter-spacing: 1px;
}

h2.names{
  font-size: 120px;
  /*padding-top: 65px;*/
  font-weight: 100;
  text-align: center;
/*  font-family: "Source Sans Pro", sans-serif;*/
}

/*Normal Laptop Size*/
@media only screen and (max-width: 1024px) and (min-width: 770px) {

  h2.names {
    font-size: 100px;
  }
}
/*Large Laptop Size*/
@media only screen and (max-width: 1440px) and (min-width: 1025px) {

  .content {
    /*margin-top: 80px;*/
  }
  h2.names {
    font-size: 100px;
  }
  h2.subTitles {
    font-size: 80px;
  }
}

/*@media only screen and (max-width: 1000px) {

  h2.names {
    font-size: 80px;
  }
}*/


h2.subTitles {
  font-size: 30px;
  color: black;
  text-transform: uppercase;
}

h2.colorW {
  color: white;
}

.underlineName {
  width: 410px;
  height: 2px;
  border-radius: 10px;
  background-color: white;
  margin: .2em auto .6em;
  margin-top: 6px;
}

.underlineSubTitles {
  background-color: black;
  width: 100px;
  height: 1.5px;
}

.center {
  text-align: center;
}

.underlineWhite {
    background-color: white;
}

/*--------------------------------------------------------------------------------------------------------------------*/
                                                /* Header Section */

#header {
  z-index: 1;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0.8;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: white;
  color: black;
  }
#header h1 {
  top: 0px;
  margin: 0px;
  font-size: 20px;
}

#nav {
  position: absolute;
  right: 0;
  top: 0;
  top: -15px;
}
#nav ul li {
  float: left;
  list-style: none;
}
#nav ul li a {
  display: block;
  text-decoration: none;
  padding: 0 10px;
  color: black;
}
#nav ul li a:hover {
  background: #CCCACA;
}
/*--------------------------------------------------------------------------------------------------------------------*/
                                                /* Introduction Section */

.introduction {
  position: relative;
  padding-top: 150px;
  /*font-family: "Source Sans Pro", sans-serif;*/
  text-align: center;
  color: white;
}


#intro {
  background: url(backgroundImages/compCupLamp.jpeg);
  background-size: cover; /* setting to 100% will make the background look like a blob when resizing*/
  background-attachment: fixed;
  background-repeat: no-repeat;
}
h4.developer {
  color: white;
  font-size: 20px;
  margin-top: -30px;
}

.button {
  text-align: center;
  padding-top: 220px;
}
.button a {
  /*display: inline-block;*/
  border: 2px solid #777;
  padding: .75em 1.5em;
  color: #eee;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  letter-spacing: .15em;
  word-spacing: .25em;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.button a:hover {
  color: #FFFAF0;
  background: #777;
}

/*@media only screen and (max-width: 1000px) {

  .introduction {
    margin-top: 300px;
  }
  .button {
    padding-top: 100px;
  }
}*/

/*Normal Laptop Size*/
@media only screen and (max-width: 1024px) and (min-width: 770px) {
  .introduction {
    padding-top: 140px;
  }
  .button a {
    padding: .9em 2.5em;
    font-size: 13px;
  }
  .button {
    /*padding-top: 250px;*/
  }
}
/*Large Laptop Size*/
@media only screen and (max-width: 1440px) and (min-width: 1025px) {

  .introduction {
    /*padding-top: 280px;*/
  }
  h4.developer {
    color: white;
    font-size: 20px;
    margin-top: -30px;
  }

  .button {
    /*padding-top: 240px;*/
  }

  .button a {
  padding: .9em 2.5em;
  font-size: 13px;
  }
}
/*-------------------------------------------------------------------------------------------------------------------*/
                                                /* About me Section */

#aboutme {
}

.hello {
  text-align: center;
}

#wrapper {
}

#left-img {
  width: 50%;
  height: auto;
  float: left;
}
#right-bio {
  width: 50%;
  height: auto;
  float: left;
  margin-top: 40px;
  margin-left: -100px;
}

.roundedMe {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  right: 0px;
}

.btn-resume {
  padding-top: 10px;
  text-align: left;
}

.btn-small a {
  padding: .65em 1.9em;
  font-size: 12px;
}

/*Large Mobile Size*/
@media only screen and (max-width: 430px) and (min-width: 380px) {
    #left-img {
    margin-left: 70px;
  }

  #right-bio {
    margin-left: -150px;
  }
  .roundedMe {
    width: 350px;
    height: 350px;
  }
}

/*@media only screen and (max-width: 1000px) {

  #left-img {
    margin-left: 70px;
  }

  #right-bio {
    margin-left: -150px;
  }
  .roundedMe {
    width: 250px;
    height: 250px;
  }
}*/

/*Normal Laptop Size*/
@media only screen and (max-width: 1024px) and (min-width: 770px) {
  .hello {
    font-size: 16px;
  }
  #left-img {
    margin-left: 90px;
    width: 50%;
  }

  #right-bio {
    margin-left: -150px;
    width: 50%;
    margin-top: -5px;
  }
  .roundedMe {
    width: 250px;
    height: 250px;
  }

  #bio {
    font-size: 14px;
  }
}

/*Large Laptop Size*/
@media only screen and (max-width: 1440px) and (min-width: 1025px) {
  .hello {
    font-size: 18px;
  }
  #left-img {
    margin-left: 90px;
    width: 50%;
  }

  #right-bio {
    margin-left: -170px;
    width: 50%;
    margin-top: -10px;
  }
  .roundedMe {
    width: 250px;
    height: 250px;
  }

  #bio {
    font-size: 14px;
  }
}

/*-------------------------------------------------------------------------------------------------------------------*/
                                                /* Languages Section */

#languages {
  background: url(backgroundImages/lapPhonePen.jpeg);
  background-size: cover;
  /*background-attachment: fixed;*/
  background-position: center;
  background-repeat: no-repeat;  
}

p.lang {
  color: white;
}

.icon-large {
  width: 20px !important;
  height: 20px !important;
  zoom: 7.0;
  color: white;
  padding-right: 7px;
}

/*Tablet Size*/
/*@media only screen and (max-width: 770px) and (min-width: 430px) {
    .icon-large {
      zoom: 6.0;
  }
  p.lang {
    font-size: 90px;
  }
}*/

/*@media only screen and (max-width: 1000px) {
  .icon-large {
    width: 15px !important;
    height: 15px !important;
    zoom: 6.0;
  }
}*/

/*Large Mobile Size*/
/*@media only screen and (max-width: 430px) and (min-width: 380px) {
  .icon-large {
    zoom: 3.0;
  }
}*/

/*Normal Laptop Size*/
@media only screen and (max-width: 1024px) and (min-width: 770px) {
    .icon-large {
      zoom: 5.0;
  }
}

/*Large Laptop Size*/
@media only screen and (max-width: 1440px) and (min-width: 1025px) {
    .icon-large {
      zoom: 6.0;
  }

  p.lang {
    font-size: 18px;
  }
}

#html:hover {
  color: #ff5a00;
}
#css:hover {
  color: #339dff;
}
#javaScript:hover {
  color: #ffc100;
}
#c:hover {
  color: #e1c775;
}
#java:hover {
  color: #dd0e03;
}
#git:hover {
  color: #ff5a00;
}

/*-------------------------------------------------------------------------------------------------------------------*/
                                                /* Project Section */

#projects {
}

.responsive {
  padding: 0 20px 0 20px;
  float: left;
  width: 24.99999%;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;

  -moz-transform: scale(1.1); /*Scale by having the zoom feel*/
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

  -moz-transition: all 0.5s; /* transition with ease, make it smooth*/
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

div.gallery > img {
  width: 100%; /* Makes it fit within the width of the .responsive class */
  height: auto; /* Need to be auto otherwise the height will be the actual height. it scales it down*/
}

div.desc {
    padding: 15px;
    text-align: center;
}

/*@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}*/

/*Large Laptop Size*/
@media only screen and (max-width: 1440px) and (min-width: 1025px) {
/*    .responsive {
      width: 34.99999%;
      padding: 30px 20px 0 30px;
    }

    .proj {
      margin-left: 190px;*/
      /*position: center;*/
/*      position: inherit;
    }*/

/*    div.desc {
      font-size: 15px;
    }*/
}

/*-------------------------------------------------------------------------------------------------------------------*/
                                                /* Contact-Image Section */

#contact-image {
  background: url(backgroundImages/coke-laptop.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;  
}

/*-------------------------------------------------------------------------------------------------------------------*/
                                                /* Contact Section */

.formLook {
  font-size: 16px;
  padding: 15px;
  width: 200px;
  margin-bottom: 8px;
}

.formBorder {
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #A7A7A7;
}

.formMessage {
  width: 405px;
  height: 200px;
}

.formButton {
  background-color: black;
  color: white;
}

.formButton:hover {
  background-color: green;
}
/*Normal Laptop Size*/
@media only screen and (max-width: 1024px) and (min-width: 770px) {
    .formLook {
      width: 220px;
    }
    .formMessage {
      height: 140px;
      width: 445px;
    }
}

/*Large Laptop Size*/
@media only screen and (max-width: 1440px) and (min-width: 1025px) {
/*    .formLook {
      width: 300px;
      padding: 20px;
      font-size: 20px;
    }
    .formMessage {
      width: 605px;
    }*/
}
/*-------------------------------------------------------------------------------------------------------------------*/
                                                /* Footer Section */

.icon-footer-large {
  zoom: 1.5;
  color: white;
  padding-right: 7px;
}

/*Large Laptop Size*/
@media only screen and (max-width: 1440px) and (min-width: 1025px) {
/*    .icon-footer-large {
      zoom: 2.5;
    }*/
}
/*-------------------------------------------------------------------------------------------------------------------*/

/*.mainfullscreen {
  min-height: 100%;
}*/



/* For iphones 6, 7, and 8 */
/*@media only screen 
  and (min-width: 375px) 
  and (max-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
p {
  font-size: 0.8rem;
}

.content { */
  /*position: relative;*/
/*  margin-top: 20px;
  flex-wrap: wrap;
}*/

/*h2.names {
  font-size: 60px;
}
h2.subTitles {
  font-size: 30px;
}

.button {
  text-align: center;
  padding-top: 130px;
  font-size: 12px;
}
.button a {
  padding: .75em 1.5em;
}

.introduction {
  margin-top: 340px;
}

.underlineName {
    width: 210px;
    height: 2px;
}

.underlineSubTitles {
  background-color: black;
  width: 70px;
  height: 1.5px;
}

#wrapper {
   width: 500px;
   height: auto;
}
#left {
  width: 285px;
  height: auto;
  float: left;
  margin-top: -40px;*/
  /*margin-left: 200px;*/
/*}
#right {
  text-align: left;
  width: 350px;
  height: auto;
  float: left;
  margin-left: 150px;
  margin-top: 230px;*/
  /*font-size: 19px;*/
/*}*/

/*.roundedMe {
  width: 250px;
  height: 250px;
  position: absolute;
  border-radius: 50%;
  right: 0px;
  left: 0px;
  margin-left: 210px;
  margin-top: 10px;
}

.icon-large {
  zoom: 5.0;
  color: white;
  padding-right: 7px;
}
}*/
