
body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

.header-section {
    height: 50px;
    width: 100%;

    /*text-align: center;*/
    /*padding-top: 60px;*/
    background: #eee;
    /*border: solid;*/
}

.intro-section {
    height: 100%;
    width: 100%;
    /*text-align: center;*/
    /*padding-top: 60px;*/
    background: #eee;
}

.about-section {
    height: 80%;
    width: 100%;
    /*padding-top: 70px;*/
    /*text-align: center;*/
    background: #fff;
}

@media only screen and (max-width: 1600px) {
    .about-section {
        /*height: 50%;  had me confused why about me section was smaller haha*/
    }
}
/*Normal Laptop Size*/
@media only screen and (max-width: 1024px) and (min-width: 770px) {
        .about-section {
        height: 70%;
    }
}

/*Large Laptop Size*/
@media only screen and (max-width: 1440px) and (min-width: 1025px) {

    .about-section {
        height: 70%;
    }
}

.language-section {
    height: 45%;
    width: 100%;
    /*padding-top: 70px;*/
    /*text-align: center;*/
    background: #fff;
}

/*Normal Laptop Size*/
@media only screen and (max-width: 1024px) and (min-width: 770px) {
    .language-section {
        height: 40%;
    }
}
/*Large Laptop Size*/
@media only screen and (max-width: 1440px) and (min-width: 1025px) {
    .language-section {
        height: 40%;
    }
}

.project-section {
    height: 70%;
    width: 100%;
    /*padding-top: 70px;*/
    /*text-align: center;*/
    background: #fff;
}

/*Large Laptop Size*/
@media only screen and (max-width: 1440px) and (min-width: 1025px) {
    .project-section {
        height: 70%;  /*had me confused why about me sectipn was smaller haha*/
    }
}

/*Normal Laptop Size*/
@media only screen and (max-width: 1024px) and (min-width: 770px) {
    .project-section {
        height: 60%;
    }
}

.contact-image-section {
    height: 30%;
    width: 100%;
    /*padding-top: 40px;*/
    /*text-align: center;*/
    /*background: black;*/
}

/*Large Laptop Size*/
@media only screen and (max-width: 1440px) and (min-width: 1025px) {

    .contact-image-section {
        height: 20%;
    }
}

/*Normal Laptop Size*/
@media only screen and (max-width: 1024px) and (min-width: 770px) {
    .contact-image-section {
        height: 20%;
    }
}
.contact-section {
    height: 60%;
    width: 100%;
    /*padding-top: 40px;*/
    /*text-align: center;*/
    background: #fff;
}

.footer-section {
    height: 15%;
    width: 100%;
    /*padding-top: 40px;*/
    /*text-align: center;*/
    background: black;
}

